<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${config.siteName} - 用户许可条款</title>
    <meta name="keywords" content="${config.keywords!}">
    <meta name="description" content="${config.decText!}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://open.mobile.qq.com/sdk/qqapi.js?_bid=152"></script>
    <script src="/static/js/qq.js"></script>
</head>
<body>
${config.userDef!}
</body>
</html>