<%for(o in model!){%>
<tr data-tt-id="${o.id!}" data-tt-parent-id="${o.parent!}" data-tt-branch="${o.status! == 1?true:false}">
    <td>
        <span class="pd-l-sm"></span><i class=""></i> ${o.funName!}
    </td>
    <td>${o.funDescp!}</td>
    <td>${o.funPath!}</td>
    <td>${o.optTime,dateFormat='yyyy-MM-dd HH:mm:ss'}</td>
    <td>
        <%if(o.isMenu! == 1){%>菜单<%}else{%>权限<%}%>
    </td>
    <td>
        <a title="编辑" onclick="x_admin_show('编辑','/admin/function/edit?id=${o.id!}')" href="javascript:void(0);">
            <i class="layui-icon">&#xe642;</i>
        </a>
        <a title="删除" onclick="member_del(this,'${o.id!}')" href="javascript:void(0);">
            <i class="layui-icon">&#xe640;</i>
        </a>
    </td>
</tr>
<%}%>
